/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */


button {
  color: #fff;
  background-color: #3276b1;
  display: block;
  position: relative;
  font-style: italic;
  width:250px;
}
button:before, button:after {
  display: block;
  position:absolute;
  content: '';
}
button:before {
  background: url(store-before.png);
  height: 23px;
  width: 54px;
  top:0px;
  left:0px;
}
button:after {
  background: url(store-after.png);
  height: 20px;
  width: 41px;
  bottom:0px;
  right:0px;
}
button:hover:before, button:focus:before {
  top:-5px;
  left:-5px;
}
button:hover:after, button:focus:after {
  bottom:-5px;
  right:-5px;
}