/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */


button {
 
  font-style: italic;
  width: 200px;
}


h1{
  display: block;
  text-align: center;
  position:relative;
  
}

h1:before, h1:after{
  display:block;
  background: url(bell1.jpg);
  height: 37px;
  width: 39px;
  position:absolute;
  content: '';
}

h1:before {
  left:400px;
}
h1:after {
  right:400px;
  top:0;
}

.container {
  margin-top: 50px;
  background: url(christmas.jpg);
}

p {

  font-style: italic;
  font-weight: bold;
}

.snowman{
  margin-left: 60px;
}
.oldman{
  margin-top: 20px;
}

.content{
  width: 460px;
}

.content #short-value {
  width: 230px;
  float: left;
}

.content button
{
  float left;
}
